/*
  font-weight: normal;
  font-style: normal; }
*/  

@font-face {
	font-family: 'genesys';
	src: url('../fonts/genesys/GenesysGlyphsAndDice.eot');
	src: url('../fonts/genesys/GenesysGlyphsAndDice.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.woff2') format('woff2'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.woff') format('woff'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.ttf') format('truetype'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.svg#leckerli_oneregular') format('svg');
}

@font-face {
	font-family: 'EotE';
	src: url('../fonts/EotE-dice/EotESymbol-Regularv1.eot');
	src: url('../fonts/EotE-dice/EotESymbol-Regularv1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/EotE-dice/EotESymbol-Regularv1.woff2') format('woff2'),
		 url('../fonts/EotE-dice/EotESymbol-Regularv1.woff') format('woff'),
		 url('../fonts/EotE-dice/EotESymbol-Regularv1.ttf') format('truetype'),
		 url('../fonts/EotE-dice/EotESymbol-Regularv1.svg#leckerli_oneregular') format('svg');
}
@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/MinionPro-Regular.eot');
    src: url('fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MinionPro-Regular.woff2') format('woff2'),
         url('fonts/MinionPro-Regular.woff') format('woff'),
         url('fonts/MinionPro-Regular.ttf')  format('truetype'),
         url('fonts/MinionPro-Regular.svg#Minion Pro') format('svg');
}

body dice {
	/*color: #512C7D;*/
	/*display: inline;*/
	/*font-family: genesys;*/
	/*font-family: genesys_oneregular;*/
	font-size: 15px;
	/*font-weight: normal;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*position:relative;*/
	/*top:3px;*/
	/*text-transform: uppercase;*/
}

body genesys-text {
	font-family: Minion Pro;
	font-size: 15px;
}
body genesys-symbols {
	font-family: genesys;
	font-size: 15px;
	position:relative;
	top:3px;
}

.gdice {
    font-family: EotE;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
}

.difficulty {
    color: #6C2B83;
}
.ability {
    color: #41AD49;
}
.challenge {
    color: #7D1721;
}
.proficiency {
    color: #FDE700;
}

.gd{
	font-family: EotE;
	position:relative;
	font-style: normal;
}

.gd-d:before {
	color: #6C2B83;
	content: "d";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}

.gd-a:before {
	color: #41AD49;
	content: "d";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}

.gd-c:before {
	color: #7D1721;
	content: "c";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}

.gd-p:before {
	color: #FDE700;
	content: "c";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}

.gd-s:before {
	color: #000000;
	content: "b";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}

.gd-b:before {
	color: #72CDDC;
	content: "b";
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
	}