/*
  font-weight: normal;
  font-style: normal; }
*/  

@font-face {
	font-family: 'genesys';
	src: url('../fonts/genesys/GenesysGlyphsAndDice.eot');
	src: url('../fonts/genesys/GenesysGlyphsAndDice.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.woff2') format('woff2'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.woff') format('woff'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.ttf') format('truetype'),
		 url('../fonts/genesys/GenesysGlyphsAndDice.svg#leckerli_oneregular') format('svg');
}
  
/*body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
*/
body dice {
	/*color: #512C7D;*/
	/*display: inline;*/
	/*font-family: genesys;*/
	/*font-family: genesys_oneregular;*/
	font-size: 20px;
	/*font-weight: normal;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*position:relative;*/
	/*top:3px;*/
	/*text-transform: uppercase;*/
}
body genesys-symbols {
	font-family: genesys;
	font-size: 20px;
	position:relative;
	top:4px;
}
/*
body dice:after {
	font-family: genesys;
	font-family: genesys_oneregular;
	font-size: 35px;
	content: "K";
	top:3px;
	color: black;
	text-transform: uppercase;
}
*/

.gd{
	font-family: genesys;
	position:relative;
	/*font-size: 20px;*/
	top:4px;
	/*top:10%;*/
	font-style: normal;
}

.gd-d:before {
	color: #6C2B83;
	content: "k"; }
.gd-d:after {
	color: black;
	content: "K"; }

.gd-a:before {
	color: #41AD49;
	content: "k"; }
.gd-a:after {
	color: black;
	content: "K"; }

.gd-c:before {
	color: #7D1721;
	content: "l"; }
.gd-c:after {
	color: black;
	content: "L"; }

.gd-p:before {
	color: #FDE700;
	content: "l"; }
.gd-p:after {
	color: black;
	content: "L"; }

.gd-s:before {
	color: black;
	content: "j"; }
.gd-s:after {
	color: #000000;
	content: "J"; }

.gd-b:before {
	color: #72CDDC;
	content: "j"; }
.gd-b:after {
	color: black;
	content: "J"; }